<div class="container mt-3 mb-5 pt-5">
  <div class="row justify-content-center mb-5" style="font-family: 'Nothing You Could Do', cursive;">
    <h1>Request Actor</h1>
  </div>
  <div class="row pt-1 justify-content-center">
    <div class="col-md-8">
      <%= render 'form', actor: @actor %>
    </div>
  </div>
</div>