<div class='top-wrapper'>
  <div class='top-inner-text'>
    <div class="row justify-content-center" style="font-family: 'Nothing You Could Do', cursive;">
      <h1>FILMoment</h1>
    </div>
    <div class="row justify-content-center" style="font-family: 'Sawarabi Mincho', sans-serif;">
      <h3>シーンで語る、映画共有サービス</h3>
    </div>
  </div>
</div>
