<div class="container mt-3 mb-5 pt-5">
  <div class="row justify-content-center mb-5" style="font-family: 'Nothing You Could Do', cursive;">
    <h1><%= t('.title') %></h1>
  </div>
  <%= render 'posts/like_posts', {posts: @posts } %>
</div>