.edit-link {
  color: black;
}

.edit-link-with-u {
  color: black;
  text-decoration: underline;
}

.size {
  font-size:1.5em;
  color: #cb635b;
}

.pre-size {
  color: #cb635b;
  font-size: 1.5em;
}

.likes {
  color: #cb635b;
}

.post-like-td {
  padding-bottom: 2px;
}

.post-scene {
  font-size: 1.25em;
}

.bulb {
  color: #54724f;
  font-size: 1.5em;
}

.bulb-font-size {
  font-size: 0.75em;
  color: black;
}

.badge {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.bd {
  margin-top: 20em;
}