.jumbotron {
  background:url(theater-unsplash2.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #cccccc;
  background-blend-mode:multiply;
}

.title {
  font-size: 4em;
}

.subtitle {
  font-size: 1.5em;
}


// .top-wrapper {
//   background-image: url('/images/theater-unsplash.jpg');
//   height: calc(100vh - 134px);
//   position: relative;
//   background-position: center;

//   .top-inner-text {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 100%;
//     text-align: center;
//     font-size: 3rem;
//     color: white;

//     @media screen and (max-width: 767px) {
//       font-size: 2.0rem;
//     }
//   }
// }
